/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

/*signUp*/
/*sign-up form 중앙정렬*/
.sign-up{
	justify-content: center !important;
}
/*submit 버튼 중앙정렬*/
.text-center{
	text-align:center !important;
}
/*signUp error msg*/
.error{
		color:red;
		font-size:14px;
		font-weight: bold;
	}
.margin-auto{
	margin: auto;
}

/*header*/
body{
	padding-top:80px;
}
header{
	background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 2303110264;
}
.nav-up{
	top:-80px;
}