<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender: 콘솔에 로그 출력 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- File Appender: 파일에 로그 출력 -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Root Logger: 최상위 로거 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
<!-- 
 <?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 
<Appenders>
 <Console name="console" target="SYSTEM_OUT">
 <PatternLayout pattern=" %-5level %c(%M:%L) - %m%n"/>
 </Console>
</Appenders>
 
<Loggers>
 <Root level="INFO">
 <AppenderRef ref="console"/>
 </Root>
 <Logger name="org.zerock" level="INFO" additivity="false" >
 <AppenderRef ref="console"/>
 </Logger>
 
 <Logger name="org.springframework" level="DEBUG" additivity="false">
 <AppenderRef ref="console"/>
 </Logger>
</Loggers>
 
</Configuration>

 -->
</Configuration>